body {
    margin: 0;
    background: #282828;
    font-family: Arial;
    font-size: 12px;
    color: #eee;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.bar {
    width: 100%;
    height: 48px;
    background: #535353;
    /*border-top: 1px solid #6a6a6a;*/
    /*display: none;*/
}
#stats {
    z-index: 999999;
}
#menu {
    border-bottom: 1px solid #757575;
}
.border {
    width: 100%;
    z-index: 9999;
    position: absolute;
}
.border.top {
    border-bottom: 1px solid #202020;
}
.border.bottom {
    border-top: 1px solid #202020;
    bottom: 0px;
}
.bar.bottom {
    background: #393939;
    text-align: center;
    border-top: 1px solid #616161;
}
.bar.top .content {
    /*padding: 15px;*/
    float: left;
}
.bar.top .content div {
    padding: 15px;
}
.bar.bottom .content {
    margin: 15px;
    /*display: none;*/
}
.bar.bottom .buttons {
    position: absolute;
    right: 10px;
    top: 1px;
    /*display: none;*/
}
.button {
    color: #eee;
    background: #6b6b6b;
    border: 1px solid #282828;
    border-radius: 5px;
    padding: 5px 10px;
    margin-top: 20px;
    margin-right: 0px;
    margin-left: 11px;
    box-shadow: 0px 2px 0px #282828;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /*float: left;*/
}
.button:hover {
    background: #535353;
    color: #eeeeee;
}
.button:active {
    color: #999;
    background: #232323;
    box-shadow: 0px 2px 0px #535353;
    /*margin-top: 12px;*/
    /*margin-bottom: -2px;*/
}
#menu .button {
    /*visibility: hidden;*/
}
#menu .title {
    width: 150px;
    font-size: 18px;
    display: inline-block;
    margin-left: 13px;
    margin-right: 26px;
    vertical-align: middle;
    float: left;
}
.window .title {
    background: #4a4a4a;
    padding: 10px;
    border-bottom: 1px solid #282828;
    display: block;
    /*border-top-left-radius: 5px;*/
    /*border-top-right-radius: 5px;*/
}
.window .content {
    border-top: 1px solid #4a4a4a;
    padding: 20px;
    padding-top: 10px;
}
.window .close {
    float: right;
    font-size: 18px;
    font-weight: bold;
    color: #666;
    /*background: #6b6b6b;*/
    /*width: 22px;*/
    text-align: center;
    margin-top: -3px;
    /*padding-top: 1px;*/
}
.window .close:hover {
    cursor: pointer;
    color: #333;
}
label {
    float: left;
    width: 110px;
}
.bar.bottom label {
    width: auto;
    margin-top: 2px;
}
.bar.bottom input {
    float: left;
    width: 40px;
    margin: 0;
    margin-left: 5px;
    margin-right: 5px;
}
input[type=text] {
    outline: none;
    color: #eee;
    border-style: none;
    /*border-top: 1px solid #282828;*/
    box-shadow: 0px -1px 0px #282828;
    border-bottom: 1px solid #686868;
    background: #4a4a4a;
    width: 246px;
    /*margin-bottom: 10px;*/
    height: 16px;
}
select {
    margin: 0;
    display: block;
    margin-bottom: 10px;
}
.window .button.confirm {
    width: 50px;
    text-align: center;
    margin-left: 50%;
    position: relative;
    left: -36px;
}
.window .button.center {
    text-align: center;
    float: none;
    margin-left: 100px;
    margin-right: 100px;
}
.recording, .recording:hover {
    background: red;
}
.window .content div {
    /*padding-top: 10px;*/
    /*padding-left: 20px;*/
    /*padding-right: 20px;*/
    /*padding-bottom: 0px;*/
    margin-top: 10px;
}
.window .content div.center {
    text-align: center;
}
.window {
    pointer-events: auto;
    background: #393939;
    width: 400px;
    height: auto;
    z-index: 9999;
    /*margin: auto;*/
    /*position: absolute;*/
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    /*border-radius: 5px;*/
    border: 1px solid #202020;
    /*box-shadow: 0px 0px 5px rgba(0,0,0,0.3);*/
    box-shadow: 0px 2px 0px rgba(0,0,0,0.2);
    /*display: none;*/
    /*padding-bottom: 20px;*/
}
.window_wrapper {
    pointer-events: none;
    width: 100%;
    height: 100%;

    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;

    position: absolute;
    z-index: 999;
}