body {
    background: black;
    font-family: Arial;
    font-size: 12px;
    color: #eee;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
}
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 5px #fff; */
    border-radius: 0px;
    /*border: 1px solid #000;*/
}
::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: #4a4a4a;
    border: 1px solid #282828;
}
body.notready div {
    display: none;
}
.window img {
    -webkit-user-drag: none;
}
.window {
    /*pointer-events: auto;*/
    background: #393939;
    z-index: 9999;
    position: absolute;
    border: 1px solid #202020;
    /*box-shadow: 0px 2px 0px rgba(0,0,0,0.2);*/
    overflow: auto;
}
.window .title .input {
    margin-bottom: 10px;
}
.window .title .button {
    color: #eee;
    background: #6b6b6b;
    border: 1px solid #282828;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 10px;
    box-shadow: 0px 2px 0px #282828;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.window .content {
    padding: 10px;
}
.window .content .text {
    margin-bottom: 0px;
    /*display: block;*/
    /*float: left;*/
    line-height: 18px;
}
.window .content .input {
    margin-bottom: 10px;
}
.window .content .button {
    color: #eee;
    background: #6b6b6b;
    border: 1px solid #282828;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 5px;
    margin-right: 5px;
    box-shadow: 0px 2px 0px #282828;
    cursor: pointer;
    float: left;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.window .content .button:hover {
    background: #535353;
    color: #eeeeee;
}
.window .content .button:active {
    color: #999;
    background: #232323;
    box-shadow: 0px 2px 0px #535353;
    /*margin-top: 12px;*/
    /*margin-bottom: -2px;*/
}
.window .content .button:hover img {
    opacity: 0.7;
}
.window .content .button:active img {
    opacity: 0.2;
}
.window .content .imageButton {
    margin-bottom: 10px;
}
.window .content .imageButton img {
    width: 32px;
    height: 32px;
    display: block;
}
.window .content .imageButton img:hover {
    cursor: pointer;
    opacity: 0.8;
}
.window .content .imageButton img:active {
    opacity: 0.5;
}

.button div {
    text-align: center;
}

.bar {
    width: 100%;
    height: 48px;
    background: #535353;
    /*border-top: 1px solid #6a6a6a;*/
    /*display: none;*/
}
#stats {
    z-index: 999999;
}
#menu {
    border-bottom: 1px solid #757575;
}
.border {
    width: 100%;
    z-index: 9999;
    position: absolute;
}
.border.top {
    border-bottom: 1px solid #202020;
}
.border.bottom {
    border-top: 1px solid #202020;
    bottom: 0px;
}
.bar.bottom {
    background: #393939;
    text-align: center;
    border-top: 1px solid #616161;
}
.bar.top .content {
    /*padding: 15px;*/
    float: left;
}
.bar.top .content div {
    padding: 15px;
}
.bar.bottom .content {
    margin: 15px;
    /*display: none;*/
}
.bar.bottom .buttons {
    position: absolute;
    right: 10px;
    top: 1px;
    /*display: none;*/
}

#menu .button {
    /*visibility: hidden;*/
}
#menu .title {
    width: 150px;
    font-size: 18px;
    display: inline-block;
    margin-left: 13px;
    margin-right: 26px;
    vertical-align: middle;
    float: left;
}
.window .title {
    background: #4a4a4a;
    /*padding: 10px;*/
    border-bottom: 1px solid #282828;
    display: none;
    /*border-top-left-radius: 5px;*/
    /*border-top-right-radius: 5px;*/
}
.window .content {
    border-top: 1px solid #4a4a4a;
    /*padding: 20px;*/
    /*padding-top: 10px;*/
}
.window .close {

}
.window .close:hover {
    background-position: -29px;
    color: #333;
    cursor: pointer;
}
label {
    width: 110px;
}
.bar.bottom label {
    width: auto;
    margin-top: 2px;
}
.bar.bottom input {
    float: left;
    width: 40px;
    margin: 0;
    margin-left: 5px;
    margin-right: 5px;
}
input[type=text] {
    outline: none;
    color: #eee;
    border-style: none;
    box-shadow: 0px -1px 0px #282828;
    border-bottom: 1px solid #686868;
    background: #4a4a4a;
    width: 100%;
    margin-top: 3px;
    height: 16px;
    padding: 0;
}
.multiInput {
    width: 100%;
}
input[type=text].multiInputValue {
    width: 50px;
    margin-right: 5px;
}
input[type=color] {
    outline: none;
    color: #eee;
    border-style: none;
    background: #4a4a4a;
    width: 100%;
    height: 30px;
}
select {
    outline: none;
    margin: 0;
    display: block;
    margin-bottom: 10px;
    width: 100%;

    color: #eee;
    border-style: none;
    box-shadow: 0px -1px 0px #282828;
    border-bottom: 1px solid #686868;
    background: #4a4a4a;
    height: 20px;
}
select.layerList {
    overflow: hidden;
    background: #686868;
    border-radius: 5px;
    margin-top: 5px;
    height: 85px;
}
select.assetsList {
    overflow: hidden;
    background: #686868;
    border-radius: 5px;
    margin-top: 5px;
    height: 200px;
}
.window .button.confirm {
    width: 50px;
    text-align: center;
    margin-left: 50%;
    position: relative;
    left: -36px;
}
.window .button.center {
    text-align: center;
    float: none;
    margin-left: 100px;
    margin-right: 100px;
}
.recording, .recording:hover {
    background: red;
}

.window .content div.center {
    text-align: center;
}
.buttonContainer {
	height: 26px;
}
.buttonContainer .button {
	float: left;
	margin-right: 6px;
}
span.key {
    /*color: #888;*/
    /*font-weight: bold;*/
    text-decoration: underline;
}

.window .menu {
    padding: 5px 10px;
    display: inline-block;
    color: #eee;
}
.window .menu:hover {
    color: #999;
    background: #4a4a4a;
    cursor: pointer;
}
.menuContent {
    background: #393939;
    z-index: 99999;
    position: absolute;
    border: 1px solid #202020;
    border-top: none;
    min-width: 150px;
}
.menuContent:hover {
    cursor: pointer;
}
.menuItem {
    padding: 5px 10px;
    color: #eee;
}
.menuItem:hover {
    color: #999;
    background: #4a4a4a;
}
.menuSpacer {
    height: 10px;
    border-bottom: 1px solid #4a4a4a;
    margin-bottom: 10px;
}
a {
    text-decoration: underline;
    color: #eee;
}
a:hover {
    text-decoration: none;
    color: #686868;
}