::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #4a4a4a;
}

@font-face {
    font-family: robotoblack;
    font-style: normal;
    font-weight: 400;
    src: url(font/roboto-black-webfont.eot?#iefix) format(embedded-opentype), url(font/roboto-black-webfont.woff2) format(woff2), url(font/roboto-black-webfont.woff) format(woff), url(font/roboto-black-webfont.ttf) format(truetype), url(font/roboto-black-webfont.svg#robotoblack) format(svg);
}

body {
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-font-smoothing: antialiased;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
    background: #1c1c1c;
    color: #eee;
    cursor: default;
    font-family: robotoblack;
    font-size: 12px;
    overflow: hidden;
}

canvas {
    pointer-events: auto;
}

input[type=text] {
    background: #333;
    border-style: none;
    color: #eee;
    margin-top: 2px;
    outline: none;
    padding: 5px;
    width: 100%;
}

input[type=text].multiInputValue {
    margin-right: 5px;
    width: 50px;
}

label {
    width: 110px;
}

select {
    background: #474747;
    border-radius: 0;
    border-style: none;
    color: #eee;
    display: block;
    height: 20px;
    margin: 5px 0 0;
    outline: none;
    width: 100%;
}

select.list {
    margin-bottom: 10px;
    margin-top: 0;
    overflow: auto;
}

.buttonContainer {
    height: 26px;
}

.buttonContainer .button {
    float: left;
    margin-right: 6px;
}

.menuContent {
    background: #222;
    min-width: 200px;
    position: absolute;
    z-index: 99999;
}

.menuContent:hover {
    cursor: pointer;
}

.menuItem {
    color: #eee;
    padding: 0 15px;
    text-transform: none;
}

.menuSpacer {
    border-bottom: 1px solid #4a4a4a;
    height: 10px;
    margin-bottom: 10px;
}

.multiInput {
    width: 100%;
}

.version {
    position: absolute;
    right: 15px;
    top: 0;
    color: #474747;
}

.window {
    background: #282828;
    overflow: hidden;
    position: absolute;
    z-index: 9999;
}

.window .button.center {
    float: none;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
}

.window .button.confirm {
    left: -36px;
    margin-left: 50%;
    position: relative;
    text-align: center;
    width: 50px;
}

.window .content {
    font-weight: 400;
    overflow: auto;
    padding: 10px;
}

.window .content .button {
    background: #4f5d73;
    border-bottom: 2px solid #1c1c1c;
    color: #eee;
    cursor: pointer;
    float: left;
    line-height: 25px;
    margin-right: 5px;
    padding: 0 10px;
    text-shadow: 0 1px rgba(0,0,0,0.2);
    text-transform: uppercase;
}

.window .content .button.image {
    margin-right: 4px;
    padding: 4px 7px 2px;
}

.window .content .button.image.last {
    margin-right: 0;
}

.window .content .button:active {
    background: #1c1c1c;
    border-bottom-color: #1c1c1c;
    box-shadow: inset 0 2px 0 rgba(0,0,0,0.2);
    color: #999;
}

.window .content .button:active img {
    opacity: 0.2;
}

.window .content .button:hover {
    background: #848e9d;
    color: #eee;
}

.window .content .button:hover img {
    opacity: 0.7;
}

.window .content .imageButton img {
    display: block;
    height: 32px;
    width: 32px;
}

.window .content .imageButton img:active {
    opacity: 0.5;
}

.window .content .imageButton img:hover {
    cursor: pointer;
    opacity: 0.8;
}

.window .content .input {
    margin-bottom: 10px;
    overflow: hidden;
}

.window .content .text {
    line-height: 18px;
    margin-bottom: 0;
}

.window .menu {
    color: #eee;
    display: inline-block;
    padding: 0 15px;
}

.window .menu:hover {
    background: #4f5d73;
    color: #eee;
    cursor: pointer;
}

.window .title {
    background: #222;
    cursor: default;
    display: none;
    line-height: 30px;
    padding: 0 15px;
    text-shadow: 0 1px #000;
    text-transform: uppercase;
}

.window .title:hover,.menuItem:hover {
    background: #4f5d73;
}

.window img {
    -webkit-user-drag: none;
}

.window.menu {
    background: #1c1c1c;
    border-style: none;
    box-shadow: none;
    text-shadow: 0 1px #000;
    text-transform: uppercase;
}

.window.toolbar,.window .menu.active {
    background: #222;
}
